/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Kanit');
@import "theme/variables";
@import "theme/button";

html,
body {
  height: 100%;
  font-family: 'Kanit', sans-serif;
}
body {
  margin: 0;
  background: radial-gradient(#fff, #e0e0e0);
}
